body {
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

form {
  background: white;
  width: 400px;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

h1{
 text-align: center;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 5%;
  padding-left: 10px
}

output {
   font-weight: bold; 
    font-size: 20px;
}
